{% extends 'wrapper.html' %}

{% block title %}
	work page
{% endblock %}

{% block content %}


<div align="center">
	<button type="button" class="btn btn-outline-secondary btn-sm" data-target="#exampleModal" data-toggle="modal" >Главная</button>
	<a href="#" class="btn btn-outline-secondary btn-sm" >Обновить</a>
	<a href="#" class="btn btn-outline-secondary btn-sm" >Выбрать все</a>
	<a href="#" class="btn btn-outline-secondary btn-sm" >Отменить все</a>
	<a href="#" class="btn btn-outline-success btn-sm" >Создать выбранные карты</a>
</div>
<br>


<div class="container">
	

	<table class="table2">
		<thead>
			<tr>
				<th width="3vw"> </th>
				<th width="4vw">Карта</th>
				<th width="16vw">Агрегат</th>	
				<th width="11vw">Устройство нейтрализации</th>
				<th width="14vw">Местонахождение</th>	
				<th width="10vw">Источник опасности</th>
				<th width="6vw">Общее фото</th>
				<th width="6vw">Фото</th>
				<th width="6vw">Блокиратор</th>
				<th width="4vw">Замок</th>	
				<th width="10vw">Участок</th>
				<th width="5vw">Папка фото</th>
				<th width="5vw"> </th>
			</tr>
		</thead>

		<tbody>
			{% for line in context %}

			<tr style="background-color: 
				{% if line[4] %}
					palegreen
				{% else %}
					lightsalmon
				{% endif %}
					">
				
				{% if line[1] != '' %}
				<td rowspan="{{ line[1] }}">V</td>
				<td rowspan="{{ line[1] }}">{{ line[0] }}</td>
				<td rowspan="{{ line[1] }}" title="{{ line[2] }}">{{ line[2] }}</td>
				{% endif %}
				<td>{{ line[6] }}</td>
				<td>{{ line[7] }}</td>
				<td>{{ line[8]+line[5]}}</td>

				{% if line[1] != '' %}
				<td rowspan="{{ line[1] }}">{{ line[3] }}</td>
				{% endif %}
				
				<td>{{ line[9] }}</td>
				<td>{{ line[10] }}</td>
				<td>{{ line[11] }}</td>
				<td>{{ line[12] }}</td>
				<td>{{ line[13] }}</td>

				<td width="10%"><a href="#">Card</a></td>
			</tr>

			{% endfor %}
		</tbody>
	</table>
</div>





<!--                    ----- MODAL MENU -----                 -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				Действие закроет текущий документ. Уверены?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-success btn-sm" data-dismiss="modal">НЕТ</button>
				<a href="/" class="btn btn-outline-danger btn-sm">ДА</a>
			</div>
		</div>
	</div>
</div>


{% endblock %}