body{
  background: #DDDDDD;
}

.table2 table{
	table-layout: fixed;
}
.table2 td{
 border: 1px solid dimgrey;
 border-collapse: collapse;
 font-size: 11px;
 padding-left: 4px;
 max-width: 14vw;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}
.table2 th{
	font-weight: normal;
	font-size: 12px;
	padding-left: 10px;

}
