{% extends 'wrapper.html' %}

{% block title %}
	excel page
{% endblock %}

{% block content %}



<div>
	<p align="center"> Загружен файл:  <b>{{ filename }} </b> <span><a id="chooseanother" href="{{ url_for('index')}}"> Выбрать другой</a> </span></p>
	
</div>


<p align="center"> Выберите лист:</p>
<div class="buttons" align="center">
	<p align="center">
		{% for sheet in context %}
		<a href="{{ url_for('workbench.index', book = filename, worksheet = sheet) }}" class="btn btn-outline-secondary btn-sm" >{{sheet}}</a>
		{% endfor %}
	</p>
</div>



{% endblock %}

	